@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(5,8,37);
  /* @apply bg-blue-100; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.bg-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* ::-webkit-scrollbar {
  width: 8px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: rgb(0, 124, 207);
  border-radius: 30px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 153, 255);
  border-radius: 30px;
} */

.CustomeRegisterNow {
  font-size: 1.2rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(47, 63, 222, 1);
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.CustomeRegisterNow:hover{
  background-color: rgb(47,63,222,0.5);
}
