@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(32, 26, 70, 1) 0%,
    rgba(32, 26, 70, 1) 30%,
    rgba(5, 2, 3, 1) 100%
  );
  /* background-color: rgb(5, 8, 37); */
  /* @apply bg-blue-100; */
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  /* box-sizing: border-box; */
}

h1 p {
  z-index: 5;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .bg-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
} */

/* .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

.CustomeRegisterNow {
  font-size: 1rem;
  line-height: 2rem /* 32px */;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(47, 63, 222, 1);
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.CustomeRegisterNow:hover {
  background-color: rgb(47, 63, 222, 0.5);
}
.Sticker{
  display: block;
}
@media only screen and (max-width: 600px) {
  .Sticker{
    display: none;
  }
}
